{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1>Willkommen bei N-light</h1>
      <p><strong>N</strong>Light ist eine online steuerbare LED RGB Matrix die im Rahmen der Vorlesung CS 201 an der Universität Basel entstanden. </p>
      <p>Ein Projekt von Sein Coray, Christian Frei und Marcel Neidinger</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <a href="https://github.com/sQu4rks/n-light/"><h3>Weitere Informationen</h3></a>
    </div>
    <div class="col-md-4">
        <a href="/controlle"><h3>Zum internen Bereich wechseln</h3></a>
    </div>
  </div>
{% endblock %}
